body {
	width:100%;
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 18px;
}
p {
	font-size: 18px;
	line-height: 30px;
}

#project h1 {
	width:180px;
	margin:50px auto 25px;
}
#project img {
	width:100%;
	margin:50px auto;
}
#project h5 {
	font-size: 24px;
	width:200px;
	margin:50px 0 25px;
}