@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
	width:100%;
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 18px;
}
p {
	font-size: 18px;
	line-height: 30px;
}
.space {
	height:120px;
}

/* Header */
#masthead { 
	height:45px;
	background-color: #3d7a5d;
	width:100%;
	position:fixed;
	z-index: 1000;
}
#masthead .mail-img {
	background-image: url(../img/mail-header.png);
	float:right;
}
#masthead .linkedin-img {
	background-image: url(../img/linkedin-header.png);
	float:right;
}
#masthead a {
	display: inline-block;
	height:25px;
	width:25px;
	margin:10px;
}
#masthead a:hover {
	background-position:bottom;
}

nav {
	color:#000000;
	font-size: 18px;
	width:100%;
}
#menu {
	top:45px;
	left:0;
	width:102%;
	position:fixed;
	background: white;
}
#navbar {
	margin:20px auto;
	width:460px;
}
#navbar a {
	padding:0 25px;
	text-decoration: none;
	color:black;
	display:inline-block;
	width:150px;
	text-align: center;
}
#navbar a:hover {
	font-weight: bold;
	color:#db9a3e;
}


/* Latest projects */
#projects {
	margin:0px 0 100px; 
	background-color:white ;
	width:100%;
}
#projects h1 {
	font-size:35px;
	margin:0 auto 25px;
	width:270px;
}
#projects a {
	text-decoration: none;
	color:black;
}
#projects a:hover {
	color:black;
}

#project-box section {
	display:block;
	background-color: #efefef;
	border-radius:5px;
	text-decoration: none;
	color:black;
	padding:15px;
	margin:35px auto;
	max-width:500px;
	transition: all 0.3s;
}
@media screen and (min-width: 768px) {
	#project-box section {
		display:inline-block;
		padding:10px;
		transition: all 0.3s;
	}
}
#project-box a {
	display:block;
	width:80%;
}
#project-box section:hover {
	transform: scale(1.05, 1.05);
	box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}
#project-box img {
	width:100%;
	margin-bottom:10px;
}
#project-box h4 {
	font-size: 24px;
	height:50px;
}

#seemore {
	margin:25px 15px 100px 0;
	display:block;
	border:solid 2px #aaa;
	border-radius: 5px;
	float:right;
}
#seemore:hover {
	border:solid 2px #3d7a5d;
	border-radius: 5px;
}
#seemore a {
	display:block;
	padding:5px;
	color:black;
	font-size: 18px;
	text-decoration: none;
}
#seemore a:hover {
	display:block;
	background-color: white;
	color:#3d7a5d;
}


/* About me */
#about {
	background-color: #ebbc2c;
}
#about h1 {
	font-size:35px;
	margin:100px auto 25px;
	width:190px;
}
#about img {
	display:block;
	width:100%;
	height:100%;
	max-width: 450px;
	padding:25px;
	margin:0 auto;
}
#about p {
	margin:25px 0 100px;
	text-align: center;
}
#about a {
	text-decoration: none;
	color:black;
}
#about a:hover {
	color:black;
}


/* Contact */
#contact {
	background-color: #db9a3e;
}
#contact h1 {
	font-size:35px;
	margin:0 auto 25px;
	width:230px;
	color:white;
}
.mail-img {
	background-image: url(../img/mail-hover.png);
}
.linkedin-img {
	background-image: url(../img/linkedin-hover.png);
	float:right;
}
.circle {
	display: inline-block;
	height:50px;
	width:50px;
	margin: 25px auto 100px;
}
.circle:hover {
	background-position:bottom;
}
#contact a {
	text-decoration: none;
}


/* Footer */
footer {
	background-color: #3d7a5d;
	color:white;
}
footer section {
	margin:10px;
	font-size: 14px;
}
